#main{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;    height:  550px;
    width:400px;
    height: 500px;
    margin: auto;
    margin-top: 40px;
    display: grid;
    padding-bottom: 50px;
    border-radius: 15px;
}

#textbar{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;    height: 68px;
    width: 90%;
    height: 70%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    
}
#button{
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;height: 100%;
font-size: 25px;
font-weight: bold;
width: 90%;
margin: auto;
margin-top: 20px;
margin-bottom: 100px;
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 20px;

}

#button>div{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    /* grid-template-columns: repeat(4, 1fr); */
}

.bl{
    background-color: black;
    color: white;
    font-size: 45px;
}
.red{
    background-color: rgb(214, 15, 15);
    color: white;
    font-size: 45px;
}